
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read and write for posts, opinions and replies
    match /posts/{postId} {
      allow read, write: if true;
    }

    match /opinions/{opinionId} {
      allow read, write: if true;
    }

    match /replies/{replyId} {
      allow read, write: if true;
    }
  }
}
